/* Colors */

$nav-color:#777777; /* dark grey */
$hvr-nav-color:#6c6ce5; /* blue */

$md-h-color:#485d69; /* dark grey #485d69 or try : #3b4758*/
$text-color:#888888; /* light grey */

$red-light: #e65151;
$green-light: #29968e;
$purple-color: #7e2b89;
$yellow-color: #fcda05;
$white-color: #FFF;

/* float */
$fl-right:right;
$fl-left:left;